.main {
    padding: 11rem 2rem 2rem 2rem;
  }
  
  .gap-larger {
    gap: 3rem;
  }
  
  .alert-text {
    margin: 2rem 0;
    text-align: center;
  }
  .filter-icon{
    margin-top: 9rem;
    position: absolute;
    background-color: red;
    right: 5rem;
    width: 10rem;
  }